{% extends 'base.html' %} {% block content %} 
<div class='row text-center'>
   <div class="col">
       <h1>Welcome to DogeTwitter!</h1>
   </div> 
</div>
<div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form class="form" id="tweet-create-form" method="POST" action="/create-tweet">
            {% csrf_token %}
            <input type="hidden" value="/" name='next'/>
            <textarea class="form-control" name="content" placeholder="Your Tweet..."></textarea>
            <button type="submit" class="btn btn-primary m-3">Tweet</button>
        </form>
         
    </div>

</div>

<div class="row" id="tweet">
    Loading...
</div>

<script>
    function LikeBtn(tweet){
        console.log(tweet)
        let button=document.createElement('button')
        button.classList.add('btn', 'btn-primary', 'btn-sm')
        button.innerHTML=tweet.likes+' Likes'
        button.addEventListener('click', () => (
            handleClick(tweet)))
        return button
    }
    function handleClick(tweet){
        console.log(tweet.likes)
    }
    const handleTweetCreateFormDidSubmit = (event) =>{
        event.preventDefault();
        console.log(event)
    }
    const tweetFormEl=document.getElementById("tweet-create-form")
    tweetFormEl.addEventListener('submit', handleTweetCreateFormDidSubmit)

    const loadTweets=(tweetElement)=>{
        const xhr = new XMLHttpRequest();
    const method = 'GET' //"POST"
    const url = '/tweets'
    const responseType = "json"
    xhr.responseType=responseType
    xhr.open(method, url)
    xhr.onload=function(){
        const serverResponse =xhr.response;
        var listItems=serverResponse.response
        tweetElement.innerHTML=""
        listItems.map((tweet) => {
            // console.log(tweet)
            let elementSuper=document.createElement('div')
            let element=document.createElement('h1')
            elementSuper.classList.add("tweetText","col-12","mb-4","border","py-3","rounded")
            element.innerHTML=tweet.content
            elementSuper.appendChild(element)
            elementSuper.appendChild(LikeBtn(tweet))
            tweetElement.appendChild(elementSuper)
        })
    }
    xhr.send();

    }
    const tweetEl=document.getElementById("tweet");
    // tweetElement.innerHTML="Loading...";
    loadTweets(tweetEl);
    

</script>

 {% endblock content %}
